

main{
    background-color: blue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.chat{
    height: 50%;
    width: 50%;
    background-color: blueviolet;
}

.content-chat{
    height: 90%;
}

.sent{
    margin-inline-start: auto;
    background-color: green;
    max-width: 50%;
    text-align: end;
    border-radius: 2rem;
}

.recived{
    background-color: white;
    max-width: 50%;
    border-radius: 2rem;
}